
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}
/* make background material dark color and font white*/
body {
    background-color: #000000;
    color: #fff;
}
/* make the header text white and center it */
h2 {
    color: #fff;
    text-align: center;
}

body {
    height: 76vh;
    font-family: Montserrat;
    padding-left: 0px;
    margin: 0px;
}

h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin: 3px;
}

pre {
    margin: 3px;
}

.leaves {
    filter: brightness(0.5) saturate(0.75);
    position: relative;
    top: 0;
    left: 0;
}
.leaf1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
}
.leaf2 {
    max-width: 35%;
    position: absolute;
    top: 300px;
    right: -60px;
    width: 50%;
}
.pine1 {
    position: absolute;
    top: -30px;
    left: 0;
    width: 30%;
}

/* vines */
.vine1, .vine1-1, .vine1-2, .vine1-3, .vine1-4 {
    position: absolute;
    max-height: 1500px;
}
.vine1 {
    left: 3%;

}
.vine1-1 {
    left: 34%;
    max-height: 900px;
    top: 0;
}
.vine1-2 {
    right: 13%;
    top: -50px;
    max-height: 600px;
}
.vine1-3 {
    left: 13%;
    top: 0;
    max-height: 1200px;
}

.vine2-1 {
    position: absolute; 
    right: 0;
    width: 70%;
}